* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.keywords {
  display: none;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 900px;
  margin: 25px auto 0;
}

header img {
  height: 40px;
}

header .navigation {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navigation a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: 500;
  border-bottom: white solid 4px;
  padding: 0 20px 25px;
}

header .navigation a:hover {
  border-bottom: #f3976c solid 4px;
}

.hero {
  padding: 50px;
  text-align: center;
  background-size: cover;
}

.hero img {
  width: 120px;
  display: block;
  margin: 20px auto;
}

.hero h1 {
  color: white;
}

.hero button {
  width: 140px;
  margin: 30px;
  font-size: 20px;
  padding: 15px;
  background-color: #f3976c;
  color: black;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.services {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 60px 0;
}

.services h2 {
  font-size: 30px;
  margin: 0 auto 25px;
  max-width: 800px;
}

.services div {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services div figure {
  margin: 2%;
}

.services div figure h3 {
  text-transform: uppercase;
  margin-bottom: 18px;
}

.services div figure p {
  font-size: 17px;
  width: 230px;
  font-weight: 300;
}

.services p {
  width: 80%;
  margin: 10px auto;
  font-weight: 300;
  font-size: 18px;
  max-width: 650px;
}

.description {
  padding: 90px 110px;
  background-size: cover;
}

.description .wrapper {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  background-color: rgba(35, 31, 32, 0.7);
  color: white;
  text-align: center;
}

.description .wrapper h2 {
  font-size: 25px;
  line-height: 30px;
}

.description .wrapper p {
  margin: 20px 0;
  font-size: 19px;
  line-height: 25px;
  width: 100%;
}

.description .wrapper button {
  width: 180px;
  font-size: 20px;
  padding: 15px;
  background-color: #364577;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin: 0 auto;
}

.work-showcase {
  max-width: 850px;
  margin: 100px auto;
  text-align: center;
}

.work-showcase h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.work-showcase .items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.work-showcase .items .item {
  width: 230px;
  margin: 20px;
}

.work-showcase .items .item img {
  width: 230px;
}

.work-showcase .items .item h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin: 15px 0px;
}

.work-showcase .items .item p {
  font-size: 15px;
  font-weight: 300;
}

.contact {
  text-align: center;
  background-size: cover;
  padding: 100px 0;
}

.contact h2 {
  color: white;
  line-height: 40px;
}

.contact button {
  width: 140px;
  margin-top: 30px;
  font-size: 20px;
  padding: 15px;
  background-color: #f3976c;
  color: black;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

footer {
  width: 100%;
  background-color: #364577;
  color: white;
  padding: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer h2 {
  text-align: center;
  font-size: 18px;
}

footer .icons {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 35px auto;
}

footer .icons a {
  text-align: center;
}

footer .icons a i {
  color: white;
  font-size: 30px;
}

footer .icons a p {
  margin-top: 10px;
  font-weight: 200;
  color: white;
  text-decoration: none;
}

footer .items {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .items section {
  display: block;
  line-height: 25px;
}

footer .items section h3 {
  margin-bottom: 10px;
}

footer .items section a {
  text-decoration: none;
  color: white;
}

.header {
  max-width: 1300px;
}

.intro {
  background-color: #364577;
  color: white;
  padding: 60px 0;
  font-size: 20px;
}

.intro h1 {
  margin: 0 0 30px 80px;
}

.intro p {
  margin: 15px 0 15px 80px;
  max-width: 800px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 60px;
}

.wrapper form {
  max-width: 700px;
  background-color: rgba(24, 21, 22, 0.7);
  color: white;
  padding: 25px;
}

.wrapper form .input {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper form .input label {
  width: 100%;
  line-height: 30px;
  font-weight: 500;
}

.wrapper form .input label p {
  font-size: 17px;
}

.wrapper form .input input,
.wrapper form .input textarea {
  border-radius: 8px;
  height: 30px;
  border: solid 2px black;
  margin-bottom: 15px;
}

.wrapper form .input textarea {
  height: 60px;
  width: 80%;
}

.wrapper form button {
  width: 150px;
  margin-top: 25px;
  font-size: 20px;
  padding: 15px;
  background-color: #f3976c;
  color: black;
  border: none;
  cursor: pointer;
}

.wrapper .contact-info {
  background-color: rgba(24, 21, 22, 0.7);
  color: white;
  padding: 30px;
}

.wrapper .contact-info h2 {
  padding-bottom: 15px;
}

.wrapper .contact-info p {
  line-height: 25px;
}

.wrapper .contact-info p a {
  text-decoration: none;
  color: #f3976c;
}

.wrapper .contact-info h3 {
  padding-top: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
  header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .work-showcase h2 {
    font-size: 23px;
  }
  .work-showcase .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work-showcase .items h3 {
    padding: 10px 0px;
  }
  footer .items {
    display: block;
  }
  footer .icons {
    width: 85%;
  }
  .wrapper form,
  .wrapper .contact-info {
    width: 80%;
  }
  .description {
    padding: 25px;
  }
}
/*# sourceMappingURL=styles.css.map */