* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

// HOMEPAGE //

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 900px;
  margin: 25px auto 0;

  img {
    height: 40px;
    margin-bottom: 25px;
  }

  button {
    display: none;
  }

  .navigation {
    width: 220px;
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: black;
      font-size: 17px;
      font-weight: 500;
      border-bottom: white solid 4px;
      padding: 0 20px 25px;
      margin-top: 10px;

      &:hover {
        border-bottom: #f3976c solid 4px;
      }
    }
  }
}

.hero {
  padding: 50px;
  text-align: center;
  background-size: cover;

  img {
    width: 120px;
    display: block;
    margin: 20px auto;
  }

  h1 {
    color: white;
  }

  button {
    width: 140px;
    margin: 30px;
    font-size: 20px;
    padding: 15px;
    background-color: #f3976c;
    color: black;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #c27755;
      color: white;
    }
  }
}

.services {
  text-align: center;
  box-sizing: border-box;
  margin: 60px 0;

  h2 {
    font-size: 30px;
    margin: 0 auto 25px;
    max-width: 800px;
  }

  div {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    figure {
      margin: 2%;

      img {
        height: 70px;
      }

      h3 {
        text-transform: uppercase;
        margin: 10px 0;
      }

      p {
        font-size: 16px;
        width: 230px;
        font-weight: 300;
      }
    }
  }

  p {
    width: 80%;
    margin: 10px auto;
    font-weight: 300;
    font-size: 18px;
    max-width: 650px;
  }
}

.description {
  padding: 90px 25px;
  background-size: cover;

  div{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    background-color: rgba(35, 31, 32, 0.7);
    color: white;
    text-align: center;

    h2 {
      font-size: 25px;
      line-height: 30px;
    }

    p {
      margin: 20px 0;
      font-size: 19px;
      line-height: 25px;
      width: 100%;
    }

    form{
      background-color: transparent;
      margin: 0 auto;
      
      button {
        width: 160px;
        font-size: 20px;
        padding: 15px;
        background-color: #364577;
        color: white;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #29365e;
      }
    }
    }
  }
}

.work-showcase {
  max-width: 850px;
  margin: 100px auto;
  text-align: center;

  h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .items {
    display: inline-flex;

    .item {
      width: 230px;
      margin: 20px;

      img {
        width: 230px;
      }

      h3 {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        margin: 10px 0;
      }
      p {
        font-size: 15px;
        font-weight: 300;
      }
    }
  }
}

.contact {
  text-align: center;
  background-size: cover;
  padding: 100px 0;

  h2 {
    color: white;
    line-height: 40px;
  }

  button {
    width: 140px;
    margin-top: 30px;
    font-size: 20px;
    padding: 15px;
    background-color: #f3976c;
    color: black;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #c27755;
      color: white;
    }
  }
}

footer {
  width: 100%;
  background-color: #364577;
  color: white;
  padding: 35px;
  box-sizing: border-box;

  h2 {
    text-align: center;
    font-size: 18px;
  }

  .icons {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin: 35px auto;

    a {
      text-align: center;
      text-decoration: none;

      i {
        color: white;
        font-size: 30px;
      }

      p {
        margin-top: 10px;
        font-weight: 200;
        color: white;
      }
    }
  }

  .items {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

    section {
      display: block;
      line-height: 25px;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

// CONTACT PAGE //

.header {
  max-width: 1300px;
}

.intro {
  background-color: #364577;
  color: white;
  padding: 60px 0 60px 80px;
  font-size: 20px;

  h1 {
    margin-bottom: 30px;
  }

  p {
    margin: 15px 0;
    max-width: 800px;
  }
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 60px;

  form {
    background-color: rgba(24, 21, 22, 0.7);
    color: white;
    padding: 25px;

    .input {
      font-size: 20px;
      display: flex;
      flex-wrap: wrap;

      label {
        width: 100%;
        line-height: 30px;
        font-weight: 500;

        p {
          font-size: 17px;
          max-width: 600px;
        }
      }

      input,
      textarea {
        border-radius: 8px;
        height: 30px;
        border: solid 2px black;
        margin-bottom: 15px;
      }
      textarea {
        height: 60px;
        width: 80%;
      }
    }

    button {
      width: 150px;
      margin-top: 25px;
      font-size: 20px;
      padding: 15px;
      background-color: #f3976c;
      color: black;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #c27755;
        color: white;
      }
    }
  }

  .contact-info {
    background-color: rgba(24, 21, 22, 0.7);
    color: white;
    padding: 30px;
    position: relative;
    margin: 35px 0;

    h2 {
      padding-bottom: 15px;
    }

    p {
      line-height: 25px;

      a {
        color: #f3976c;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: #c27755;
          text-decoration: none;
        }
      }
    }

    h3 {
      padding-top: 20px;
    }
    
  }
}

.btn-form {
    margin: 0 0 40px 60px;

    button{
      width: 180px;
      font-size: 20px;
      padding: 15px;
      background-color: #364577;
      color: white;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #29365e;
    }
    } 
  }

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (max-width: 800px) {
  // HOMEPAGE //
  header {
    padding: 0 25px;
  }

  // CONTACT PAGE //

  .intro {
    padding: 60px 0 60px 25px;
  }

  .wrapper {
    margin: 40px 25px;
    display: block;

    .contact-info {
      margin: 35px 0 0;
    }

    button{
      margin: 35px 0 0;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
  // HOMEPAGE //
  .header,
  header {
    max-width: none;
    margin: none;
    padding: 0;
    flex-wrap: wrap;

    .for-responsive {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      padding: 0 25px;

      img {
        margin: 0;
      }

      button {
        display: block;
        border: none;
        background-color: transparent;
        cursor: pointer;

        .sr-only {
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1px;
        }

        .bar {
          margin: 4px;
          display: block;
          background-color: rgba(0, 0, 0, 0.5);
          width: 26px;
          height: 2px;
          border-radius: 1px;
        }
      }
    }

    .navigation {
      width: 100%;
      display: none;
      flex-wrap: wrap;

      a {
        margin: 0;
        width: 100%;
        padding: 10px 0 10px 25px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        background-color: rgba(0, 0, 0, 0.05);

        &:hover {
          background-color: rgba(0, 0, 0, 0.124);
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  .services {
    h2 {
      font-size: 25px;
      margin: 0 25px 30px;
    }

    figure {
      width: 85%;
    }
  }

  .work-showcase {
    h2 {
      font-size: 23px;
      width: 90%;
      margin: 0 auto;
    }

    .items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      h3 {
        padding: 10px 0px;
      }
    }
  }

  footer {
    .icons {
      width: 85%;
    }

    .items {
      display: block;

      section {
        margin-bottom: 30px;
      }
    }
  }

  // CONTACT PAGE //

  .intro {
    padding: 60px 25px;
  }

  .wrapper {
    margin: 25px;
  }
}
